.b-h{
    background-image: url("../../assets/amy-shamblen-xwM61TPMlYk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: 0%;
    
    width: 100%;
    height: 40%;
    animation-name: b-h;
    animation-duration: 7s;
    animation-iteration-count: 10;
    animation-direction:normal;  
 }
 @keyframes b-h {
    0%   {background-image: url("../../assets/amy-shamblen-xwM61TPMlYk-unsplash.jpg");}
    50%  {background-image: url("../../assets/elsa-olofsson-Pm0K9Y3EPUc-unsplash.jpg");}
    100% {background-image: url("../../assets/johanne-pold-jacobsen-XYkc3MfT7b4-unsplash.jpg");}
  }
.h-h{
color: black;
font-family: cursive;
margin-left: 40%;
}

.bh-h{
    margin: 5%;
    margin-left: 39%;


}
#h1-bh{
    font-family: cursive;
}
#btn{
    margin-left: 10%;
    
}
.example-card {
    width: 25%;
    height: 100%;
    margin-left: 5%;
    margin-right: 0%;
    
  }
  #ec1{
    background-image: url('../../assets/marcus-loke-xXJ6utyoSw0-unsplash.jpg');
    background-size: cover;

  }
  
  #ec2{
    background-image: url('../../assets/annie-spratt-VI1Je4Rc8bg-unsplash.jpg');
    background-size: cover;

  }
  #ec3{
    background-image: url('../../assets/carlos-rodriguez-QhK3jcoPCxM-unsplash.jpg');
    background-size: cover;

  }
  

.c-t{
    margin-left: 50%;
    color: aliceblue;
    font-size: xx-large;
    font-family: cursive;
}
.p-d{
  width: 98%;
  height: 45%;
  margin: 0%;
    display: flex;
    margin: 2%;
    flex-shrink: 0;
    flex-wrap: wrap;
    
}
.c-a{
    position: absolute;
    bottom: 0%;
    margin-left: 45%;
}
@media only screen and (max-width: 600px) {
  .mat-mdc-card-header {
    padding: 0%;
  }

.b-h{
  height: 28%;
}
.bh-h{
  margin-left: 12%;
  height: 20%;
}
#h1-bh{
  font-size: 178%;
}
.p-d{
  width: 98%;
  height: 17%;
}
.h-h{
  margin-left: 13%;
    max-width: 100%;
}
#btn{
  margin-left: 31%;
}
.c-a{
  max-width:80px;
  margin-left:0% ;
}
.c-t{
  font-size: 86%;
  margin-left: 0%;
}
.b-ca{
  height: 100%;
}
}
@media only screen and (min-width: 768px) {
  .mat-mdc-card-header {
    padding: 0%;
  }
  .c-t{
    margin-left: 14%;
    margin-top: 5%;
  }
  .c-a{
    margin-left: 27%;

  }
  .p-d{
    width: 98%;
  }
}