<div class="b-h">
    <h1 class="h-h">Welcome to our App</h1>
</div>
<div class="bh-h">
    
<h1 id="h1-bh">Explore Our Products</h1>
<button mat-raised-button id="btn"routerLink="/products" > Products</button>

</div>
<div  class="p-d"><mat-card class="example-card" id="ec1" #rendererContainer  >
    <mat-card-header>
      <mat-card-title class="c-t">Garments</mat-card-title>
    </mat-card-header>
    
     
   
    <mat-card-actions class="c-a"> 
      <button mat-raised-button routerLink="/garments" class="b-ca">Explore</button>
    
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" id="ec2" >
    <mat-card-header>
      <mat-card-title class="c-t" style="color:black;">Kitchenware</mat-card-title>
    </mat-card-header>
    
    
   
    <mat-card-actions class="c-a">
      <button mat-raised-button routerLink="/kitchenware" class="b-ca">Explore</button>
    
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card"  id="ec3">
    <mat-card-header>
      <mat-card-title class="c-t" >Beauty Products</mat-card-title>
    </mat-card-header>
    
    
   
    <mat-card-actions class="c-a">
      <button mat-raised-button routerLink="/beauty" class="b-ca">Explore</button>
    
    </mat-card-actions>
  </mat-card>
</div>
<canvas id="c-b"></canvas>
